<!DOCTYPE html>
<html lang="pt-br">

<head>
	<!-- Meta tags Obrigatórias -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<title>Unidade</title>
</head>

<body>
	<header th:include="fragmentos::topo">
	</header>
	<main class="container">
		<h1>Armazem</h1>

		<form enctype="multipart/form-data" method="post" th:action="@{/unidade/save}" 
							th:object="${unidade}">
			<div class="form-group">
				<label for="codigo">Código</label>
				<input th:field="*{id}" type="text" readonly class="form-control" id="codigo">

			</div>
			<div class="form-group">
				<label for="nome">Nome</label>
				<input th:field="*{identificacao}" type="text" class="form-control" id="nome"
					placeholder="nome...">
			</div>
			<div class="form-group">
				<label for="quantidade">Quantidade</label>
				<input th:field="*{quantidade}" type="text" numbers_only class="form-control" id="quantidade"
			      placeholder="quantidade...">
			</div>
			<div class="form-group">
				<label for="valor">Valor</label>
				<input th:field="*{valor}" type="text" class="form-control" id="valor"
					placeholder="valor...">
			</div>
			<div class="form-group">
				<label>Imagem</label>
				<input type="file" id="file" name="file"/>
			</div>
			
			<!--
			<div class="form-group">
				<label for="armazem">Armazem</label>
				<select class="form-control" th:field="*{armazem}">
					<option value="">Selecione um armazem</option>
					<option th:each="item:${list_armazem}" 
					th:value="${item.id}"
					th:text="${item.identificao}"
					 ></option>
				</select>
			</div>
		    <div class="form-group">
				<label for="artefato">Artefato</label>
				<select class="form-control" th:field="*{artefato}">
					<option value="">Selecione um artefato</option>
					<option th:each="item:${list_artefato}" 
					th:value="${item.id}"
					th:text="${item.nome}"
					 ></option>
				</select>
			</div>
-->
			<button type="submit" class="btn btn-primary">Salvar</button>
		</form>

		<div th:if="${retorno} !=null" class="row">

			<span th:if="${retorno}" class="alert alert-success" th:text="${mensagem}"></span>
			<span th:if="!${retorno}" class="alert alert-danger" th:text="${mensagem}"></span>
		</div>


	</main>
	<footer th:include="fragmentos::rodape">
	</footer>
	<!-- JavaScript (Opcional) -->
	<!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>

</html>