<!DOCTYPE html>
<html lang="pt-br">

<head>
	<!-- Meta tags Obrigatórias -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<title>Armazém</title>
</head>

<body>
	<header th:include="fragmentos::topo">
	</header>
	<main class="container">
		<h1>Armazem</h1>

		<form method="post" th:action="@{/armazem/save}" 
							th:object="${armazem}">
			<div class="form-group">
				<label for="codigo">Código</label>
				<input th:field="*{id}" type="text" readonly class="form-control" id="codigo">

			</div>
			<div class="form-group">
				<label for="identificacao">Identificacao</label>
				<input th:field="*{identificacao}" type="text" class="form-control" id="identificacao"
					placeholder="identificacão...">
			</div>
			
			
			<div class="form-group">
				<label for="tamanho">Tamanho</label>
				<select class="form-control" th:field="*{tamanho}">
					<option value="">Selecione um tamanho</option>
					<option th:each="item:${list_tamanho}" 
					th:value="${item.id}"
					th:text="${item.nome+" "+item.capacidade}"
					 ></option>
				</select>
			</div>

			<button type="submit" class="btn btn-primary">Salvar</button>
		</form>

		<div th:if="${retorno} !=null" class="row">

			<span th:if="${retorno}" class="alert alert-success" th:text="${mensagem}"></span>
			<span th:if="!${retorno}" class="alert alert-danger" th:text="${mensagem}"></span>
		</div>


	</main>
	<footer th:include="fragmentos::rodape">
	</footer>
	<!-- JavaScript (Opcional) -->
	<!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>

</html>