<html xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>
	<div th:fragment="topo">
		<h1>Meu site</h1>
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link active" th:href="@{/categoria/listar}">Categoria</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/cliente/listar}">Cliente</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Link</a>
			</li>
			<li class="nav-item">
				<a class="nav-link disabled" href="#">Desativado</a>
			</li>
		</ul>
	</div>

	<div th:fragment="rodape">
		&COPY; 2023
	</div>
	
	<div th:fragment="script">
		<script>
		 var url = "";
    $(".excluir").on("click", function(){    
// no clique do botão excluir, guardar a url para ser chamada na confirmação da janela modal
	url = $(this).attr("data-value");
    	url = url.replace("{id}", $(this).attr("id"));
     });
    
    $("#ok_confirm").click(function(){   // botão de confirmação da janela modal, chamará a controller
 	   document.location.href="http://localhost:8080" + url;
    });
		</script>
	</div>
	
	
</body>

</html>